
.contain {
	height: 10%;
	width: 100%;
	background-color: #373737;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: #13131a;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.contain .header {
	// height: 100%;
	// width: 19%;
	// display: flex;
}

.contain .header app-side-bar {
	height: 33%;
	width: 21%;
	float: left;
}


.contain .header  img {
	padding: 0% 3%;
	width: 29%;
	height: 61%;
	margin: 5% 0% 1% 0%;
}

	

.contain .navbar {
	font-size: 80%;
	text-transform: capitalize;
	width: 53%;
	margin: 1% 3% 0% 0%;
	padding: 0% 15% 0% 0%;
	display: flex;
	color: red;
	list-style-type: none;
}


.contain .navbar a{
	display: flex;
	padding: 0 2%;
	text-decoration: none;
	margin-right: 3%;
	font-size: 190%;
	color: #fff;
}

.contain .navbar a:hover {
	color: #cc0000;
	border-bottom: .1rem solid #cc0000;
	padding-bottom: .5rem;
}

.contain .navbar .category {
	display: flex;
}





.contain .navbar .search-form {
	width: 36%;
	height: 21px;
	display: flex;
	align-items: center;
}

.contain .navbar .search-form input {
	width: auto;
	font-size: 154%;
	padding: 0 4%;
	padding-right: 2%;
	border-radius: 1rem;
	background-color: white;
}


.contain .navbar .search-form label  {
	padding-left: 3%;
	color: white;
	cursor: pointer;
	height: 127%;
	font-size: 188%;
}

.contain .navbar .search-form label:hover {
	color: #cc0000;
}

.contain .user  {
	cursor: pointer;
	font-size: 2.5rem;
	margin-right: 2rem;
	color: white;
}

.contain .user  i:hover {
	color: #cc0000;
}

.contain .login {
	padding: 0 1%;
	margin-top: 3%;
	height: 100%;
	width: 18%;
	display: flex;
}

.login button {
	padding: 0% 0%;
	text-align: center;
	height: 50%;
	width: 50%;
	font-size: 117%;
	border-radius: 1.5rem;
	color: #fff;
	background-color: red;
}

.contain .divine {
	margin: 0% 3% 19% 3%;
	border: .5px solid #fff;
}


// a queries 

@media only screen and (max-width: 990px) {
	
}
@media screen and (max-width:600px) {
	.contain {
	}

	.contain .header {
	}


	.contain .header app-side-bar {
		
	}
	
	.contain .header img {
	}

	.contain .header .logo img {
	}



	.contain .navbar {
	}

	.contain .navbar a{
	}


	.contain .login {
	}

	.contain .login button {
		// padding-left: 12%;
		// height: 36%;
		// width: 50%;
		// font-size: 150%;
	}
}


	
	
